[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    no-self-use,
    line-too-long

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[DESIGN]
# Maximum number of arguments for function / method
max-args=10